

.header {
  width: 100%;
  height: 100px;
  padding: 20px 0;
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid black;
  &Body {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &Right {
    padding: 15px 0 0 0;
  }
}
