.wrapper{ 
  overflow: hidden;
  height: 100%;
  width: 100%;
  
}

.loaderCenter{
  padding: 200px 300px;
}
.error{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}