@import "./../../assets/styles/variables.scss";

.body{
  display: flex;
}
.Logo{
  background-color: $blue;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.Title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  max-width: 100px;
}