

.footer{
  font-size: 15px;
  &::before{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: black;
  }
}
.Body{
  padding: 25px 15px;
  max-width: 930px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.column{
  color: black;
  &Title{
    font-size: 20px;
    font-weight: 700;
  }
  a{
    color: black;
    display: block;
  }
}
.listSocial{
  margin-top: 5px;
  font-weight: 700;
  li{
    margin-bottom: 5px;
  }
}
.body{
  display: flex;
  align-items: flex-end;
}
.Logo{
  background-color: #686868;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.Title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  max-width: 100px;
}